{% extends 'rango/base.html' %}
{% block title %}Add a page{% endblock %}
{% block body_block %}
<div class="page-header">
    <h1>Add a page</h1>
</div>
    <form role="form" id="page_form" method="post" action="{% url 'add_page' category %}">
        <h2 class="form-signin-heading">Add a page to {{ category }}</h2>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
    </form>
{% endblock %}